<header>
    <div class="header-content">
        <span class="logo">
            <a href="#">歴史散歩道</a>
        </span>
        <span class="login-icon">
            <a href="#">ログイン</a>
        </span>
    </div>
</header>