<h1>歴史散歩道へようこそ！</h1>
<p>歴史散歩道は、身近な史跡を巡るルートを提案する散歩ルート生成サービスです。</p>
<h2>さっそく使ってみる↓</h2>
<form>
    <label for="distance">距離</label>
    <input type="text" id="distance" placeholder="歩きたい距離を入力してください">
    <button type="submit">ルートを生成する</button>
</form>