/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'top';
 
 // グローバルスタイル
 .navbar {
   background-color: #5f7c8a;
 }
 
 .navbar-brand, .nav-link {
   color: #fff !important;
 }
 
 .fixed-top {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1030;
 }
 
 .fixed-bottom {
   position: fixed;
   bottom: 0;
   width: 100%;
   z-index: 1030;
 }
 
 body {
   padding-top: 56px; /* Adjust this value according to the height of your header */
   padding-bottom: 56px; /* Adjust this value according to the height of your footer */
   font-family: Arial, sans-serif;
   font-size: 14px; // モバイル用のデフォルトスタイル
 }
 
 /* タブレット用のスタイル */
 @media (min-width: 768px) {
   body {
     font-size: 16px;
   }
 }
 
 /* デスクトップ用のスタイル */
 @media (min-width: 992px) {
   body {
     font-size: 18px;
   }
 } 